
.node {
    mix-blend-mode: screen;
}
.selectedNode {
    mix-blend-mode: screen;
}


body {
    color: #FFFFFF;
    background-color: #000000;
}

.infoHeader {
    font-weight: 300;
}
.infoSubHeader {
    font-weight: 300;
}
.infoEmphasis {
    font-weight: 300;
}

.bubbleLabels {
    mix-blend-mode: screen;
}

#info {
    mix-blend-mode: screen;
}

a {
    color: #ffffff;
}